$primario: teal;
$secundario: rgb(4, 77, 77);
$fondo: lightgray;
* {
    font-family: "Montserrat", sans-serif;
}

body {
    background: {
        color: $fondo;
    }
}

@mixin centro {
    margin: {
        left: auto;
        right: auto;
    }
}

.contenedor {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.caja-centro {
    @include centro;
}

.contenido {
    width: 40%;
    padding: 10px;
    @include centro;
}

.media_background {
    background-image: url("https://st2.depositphotos.com/4441075/7697/v/600/depositphotos_76975367-stock-illustration-sign-with-domestic-pets-silhouettes.jpg");
}

.centrado {
    align-content: center;
}

.avatar {
    width: 100px;
    border-radius: 50%;
}

.ancho-completo {
    width: 100%;
}

.ancho-completo>div {
    width: 100% !important;
}

.imagen {
    width: 60%;
    margin: {
        left: auto;
        right: auto;
    }
}

.bg-blanco {
    background-color: #ffffff;
}