:root {
  --primario: #00838f;
  --light: #4fb3bf;
  --dark: #005662;
  --fondo: #fff;
  --fondo2: #e1e2e1;
}
body {
  background-color: var(--fondo2);
  color: var(--primario);
}
.contenedor {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--fondo);
  padding: 25px;
  margin-top: 25px;
  border-radius: 30px;
}
